@using System.Web.Optimization
<!doctype html>
<html>
    <head>
        <title>RETASK</title>

        <meta name="description" content="RETASK is a simple yet powerful solution for task management. Get things done right now. It's free." />
        <meta name="keywords" content="retask, task management, getting things done, GTD" />
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40097924-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-40097924-1');
        </script>

        <link rel="icon" type="image/ico" href="@Url.Content("~/Content/favicon.ico")" />
        <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' />
        @Styles.Render("~/Content/css")
    </head>
    
    <body>
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div id="wrap">
            <div class="container">
                <a href="@Url.Action("Index", "Home")">
                    <div id="logo"></div>
                </a>
            </div>
            @RenderBody()
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span4 muted credit">
                        &copy; 2013&ndash;2018 by <a href="http://agibalov.io" target="_blank">Andrey Agibalov</a> 
                    </div>
                    <div class="span4 social">
                        <!-- Tweet button -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://retask.me" data-text="Check this out!" data-via="retaskapp" data-count="none">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

                        <!-- Follow button -->
                        <a href="https://twitter.com/retaskapp" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @@retaskapp</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                        
                        <!-- Facebook like button -->
                        <div class="fb-like" data-href="https://www.facebook.com/retaskapp" data-send="false" data-layout="button_count" data-width="300" data-show-faces="false"></div>
                    </div>
                    <div class="span4 muted credit text-right">
                        <a href="@Url.Action("Disclaimer", "Home")" target="_blank">Disclaimer</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>