@using WebApp
@model WebApp.Models.ForgotPasswordModel

<div class="registration-form">
    <div class="container">
        <h1>Reset Password</h1>

        <form class="form-horizontal" method="POST" action="@Url.Action("ForgotPassword", "Account")">
            <div class="control-group @Html.AddClassIfPropertyInError(x => x.Email, "error")">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input type="text" placeholder="Email" name="Email" value="@Html.ValueFor(x => x.Email)" />
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.Email)</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p>
                        We will send you password reset link.
                    </p>
                    <button class="btn btn-large btn-green" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-error">
                @ViewBag.Message
            </div>
        }
    </div>
</div>